<div class="request-confirm-wrapper">
    <p> Thank you for your membership application<br>
    Your request will be reviewed and a notice will be sent to your email within a few days<br>
    If you have any questions in the meantime please feel free to <%= link_to "contact", root_path %> us. </p>
    <%= image_tag "school-logo.jpg"%>
</div>