@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-color: #2f88b1;

#root {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding: 0;
    margin: 0;
}

#root-content {
    padding-top: 8vh;
}


button {
    border: none;
    background-color: white;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    font-family: 'Montserrat', sans-serif;
}

.loading-gif {
    height: 40px;
    width: 40px;
    padding: 20px;
}
// ----------------------------------------------------------------------
// ------------------ TOP NAVIGATION ------------------------------------
// ----------------------------------------------------------------------

#top-navigation-bar {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: $main-color;
    position: fixed;
    width: 100vw;
    div {
        display: flex;
        flex-direction: row;
        margin-right: 2vw;
    }
    #home-btn { 
        margin: 0 20px;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        cursor: pointer;
    }
    button {
        font-size: 1em;
        margin: 0 10px;
        background-color: transparent;
        color: white;
        font-weight: 700;
        height: 100%;
    }
    #admin-btn {
        background-color: #1DB954;
        color: white;
        font-weight: 700;
    }
    #profile-btn {
        img {
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
}

// ----------------------------------------------------------------------
// ------------------ LANDING PAGE --------------------------------------
// ----------------------------------------------------------------------

#landing-page-container {
    background-color: #f0f0f0;
    display: flex;
    padding-top: 8vh;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10vh;
    #banner-photo {
        width: auto;
        height: 92vh;
        object-fit: cover;
    }
    h1 {
        padding: 10px 0;
    }
    #join-btn {
        font-size: 1.5em;
        padding: 10px 20px;
        background-color: $main-color;
        color: white;
        font-weight: 700;
        border-radius: 5px;
        margin-top: 10vh;
    }
    .landing-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
        width: 60vw;
        margin-top: 10vh;
        div {
            margin: 20px;
        }
        p {
            line-height: 2;
        }
        img {
            height: auto;
            width: 40%;
            object-fit: cover;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
						0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        }
    }
    #landing-album-list {
        width: 60vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        p {
            font-weight: 600;
        }
        .landing-album-item {
            margin: 0 20px;
            display: flex;
            flex-direction: row;
            img {
                width: 500px;
                height: 500px;
                object-fit: cover;
            }
            text-align: center;
            p {
                font-weight: 700;
            }
            cursor: pointer;
            button {
                background-color: transparent;
                i {
                    font-size: 2em;
                    padding-bottom: 50px;
                    margin: 0 10px;
                    color: grey;
                }
            }
        }
    }
}



// ----------------------------------------------------------------------
// ------------------ LOGIN PAGE ----------------------------------------
// ----------------------------------------------------------------------

#login-page-container {
    padding-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
    // background-color: #f0f0f0;
    img {
        width: 200px;
        height: 200px;
        margin-right: 20px;
    }
    input {
        padding: 10px 20px;
        font-size: 1em;
        width: 300px;
        // font-weight: 600;
        border: 1px solid lightgrey;
        border-radius: 2px;
        margin: 10px 0;
        &:focus {
            outline: none
        }
    }
    span {
        color: red;
        font-size: 0.9em;
    }
    button {
        font-size: 1em;
        font-weight: 700;
        // margin: 10px 0;
        border: none;
        padding: 10px 15px;
        background-color: #1DB954;
        color: white
    }
}

// ----------------------------------------------------------------------
// ------------------ ADMIN PAGE ----------------------------------------
// ----------------------------------------------------------------------

#admin-container {
    padding-top: 8vh;
    height: 92vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    #admin-side-panel {
        height: 92vh;
        width: 250px;
        text-align: center;
        p {
            font-weight: 700;
        }
        border-right: 1px solid lightgrey;
        #panel-options {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            button {
                text-align: left;
                font-size: 1em;
                padding: 15px 20px;
                font-weight: 400;
            }
        }
    }
    #admin-content-div {
        width: 100%;
        height: 92vh;
        overflow-x: hidden;

        //  ---------------------------------------------
        //  --------------- MEMEMBERS MANAGER -----------
        //  ---------------------------------------------

        #dash-members-container {
            // padding: 20px;
            .col-title {
                font-weight: 600;
                margin: 0;
            }
            display: flex;
            flex-direction: row;

            #member-right-col {
                padding: 50px;
                #request-form {
                    span {
                        font-size: 0.8em;
                        font-weight: 500;
                    }
                    input {
                        padding: 10px;
                        width: 30vw;
                        margin-bottom: 10px;
                        font-family: 'Montserrat', 'sans-serif';
                        border: 1px solid lightgrey;
                    }
                    button {
                        padding: 10px;
                        font-weight: 700;
                        color: white;
                    }
                    #approve-btn {
                        background-color: #1DB954;
                        margin-right: 20px;
                    }
                    #decline-btn {
                        background-color: #a31010;
                    }
                    #flash {
                        font-size: 0.8em;
                    }
                }
            }

            #member-left-col {
                min-height: 92vh;
                width: 300px;
                border-right: 1px solid lightgrey;
                #no-requests {
                    font-weight: 500;
                    padding-top: 20px;
                    width: 100%;
                    text-align: center;
                }

                
                #pending-item {
                    padding: 10px 30px;
                    #request-name {
                        font-weight: 500;
                        font-size: 1em;
                    }
                    #request-country {
                        font-size: 0.8em;
                    }
                    #request-email {
                        font-size: 0.9em;
                    }
                    cursor: pointer;
                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
                #select-options {
                    border-bottom: 1px solid lightgrey;
                    display: flex;
                    flex-direction: row;
                    button {
                        width: 50%;
                        padding: 20px 0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }
                    #num-circle {
                        margin-left: 5px;
                        background-color: red;
                        color: white;
                        font-weight: 700;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        //  ---------------------------------------------
        //  --------------- CONTENT MANAGER -------------
        //  ---------------------------------------------

        #dash-content-container {
            padding: 20px;

            .content-card {
                margin: 30px 0;
                input,textarea {
                    font-family: "Montserrat", 'sans-serif';
                    font-size: 1em;
                    padding: 10px;
                    width: 300px;
                }
                textarea {
                    // padding: 15px !important;
                    font-size: 0.9em;
                    width: 40vw;
                    height: 200px;
                    margin-top: 20px;
                    line-height: 1.5;
                }
            }

            button {
                font-weight: 700;
                font-size: 1em;
                background-color: #1DB954;
                color: white;
                padding: 10px;
            }
            span {
                color: #1DB954;
            }
        }   


        //  ---------------------------------------------
        //  --------------- ALBUM MANAGER ---------------
        //  ---------------------------------------------

        #dash-album-container {
            display: flex;
            flex-direction: row;;
            min-height: 100%;
            #expanded-view {
                display: flex;
                flex-direction: row;
                vertical-align: top;
                #saving-span {
                    font-size: 0.8em;
                }
                #expanded-photo {
                    height: 85vh;
                    width: auto;
                }
                textarea {
                    margin-top: 20px;
                    padding: 10px;
                    font-size:0.9em;
                    width: 300px;
                    font-family: 'Montserrat', 'sans-serif';
                    height: 100px;
                    margin-right: 50px;
                }
                div {
                    padding-top: 10vh;
                    margin-left: 10px;
                    button {
                        color: white;
                        background-color: #1DB954;
                        padding: 10px;
                        font-weight: 700;
                    }
                }
                i {
                    font-size: 2em;
                    padding: 20px;
                    cursor: pointer;
                }
            }
            #dash-album-left {
                #album-create-input {
                    padding-left: 20px;
                    input {
                        padding: 10px 5px;
                        font-size: 0.9em;
                        border: 1px solid lightgrey;
                        min-width: 85%;
                        font-family: "Montserrat", 'sans-serif';
                    }
                    button {
                        margin-top: 10px;
                        background-color: #1DB954;
                        color: white;
                        font-weight: 600;
                        padding: 5px 10px;
                    }
                    padding-bottom: 20px;
                    border-bottom: 1px solid lightgrey;
                }
                p {
                    padding-left: 20px;
                }
                min-width: 250px;
                border-right: 1px solid lightgrey;
                #album-list {
                    display: flex;
                    flex-direction: column;
                    div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }
                    button {
                        display: flex;
                        justify-content: space-between;
                        text-align: left;
                        padding: 20px 30px;
                        i {
                            color: #a31010;
                            margin-left: 10px;
                        }
                    }
                    #confirm-div {
                        display: flex;
                        flex-direction: row;
                        button {
                            font-weight: 700;
                        }
                    }
                    #confirm-delete-btn {
                        background-color: #a31010;
                        color: white;
                        width: 70%;
                    }
                    #confirm-keep-btn {
                        background-color: #1DB954;
                        color: white;
                    }
                }
            }
            #dash-album-right {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: flex-start;
                padding: 20px;
                overflow: auto;
                #album-display-container {
                    #update-btn {
                        color: white;
                        font-weight: 700;
                        background-color: #1DB954;
                        padding: 10px;
                        margin-left: 20px;
                    }
                    #public-btn {
                        color: white;
                        font-weight: 700;
                        background-color: #1DB954;
                        padding: 10px;
                        margin-left: 20px;
                    }
                    #private-btn {
                        color: white;
                        font-weight: 700;
                        background-color: #a31010;
                        padding: 10px;
                        margin-left: 20px;
                    }
                    input, textarea {
                        font-size: 1em;
                        width: 300px;
                        border: 1px solid lightgrey;
                        padding: 10px;
                        font-family: "Montserrat", 'sans-serif';
                    }
                    textarea {
                        font-size: 0.9em;
                        width: 500px;
                        margin-top: 10px;
                        height: 80px;
                    }
                }
                #saving-span {
                    color: #1DB954;
                }
                #deleting-span {
                    color: red;
                }
                #image-wrapper {
                    overflow: auto;
                    display: flex;
                    flex-wrap: wrap;
                    #image-item {
                        position: relative;
                        margin: 10px;
                        img {
                            height: 210px;
                            width: 210px;
                            z-index: 1;
                            border-radius: 5px;
                            object-fit: cover;
                            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                                        0 6.7px 5.3px rgba(0, 0, 0, 0.048);
                            cursor: pointer;
                        }
                        i {
                            background-color: white;
                            font-size: 1.2em;
                            color: black;
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            z-index: 10;
                            border-radius: 100%;
                            overflow: hidden;
                            cursor: pointer;
                        }
                    }
                }
                #add-photo-btn {
                    font-size: 2em;
                    color: #1DB954;
                    cursor: pointer;
                    padding: 10px;
                }
                #upload-container {
                    min-width: 100%;
                    height: 50px;
                    padding: 5px;
                
                    #add-title {
                        font-weight: 600;
                        font-size: 1.2em;
                    }
                    input {
                        font-size: 1em;
                        margin: 20px 0;
                        &:focus {
                            outline: none;
                        }
                    }
                    #file-select-input {
                        background-color: white;
                        border: 1px solid lightgrey;
                        border-radius: 5px;
                        padding: 10px;
                        width: 400px;
                        font-family: "Montserrat", sans-serif;
                        cursor: pointer;
                    }
                    button {
                        font-weight: 700;
                        color: white;
                        background-color: #1DB954;
                        font-size: 1em;
                        border-radius: 5px;
                        margin-top: 10px;
                        padding: 5px 10px;
                        margin-bottom: 10px;
                    }
                    #photo-comment-input {
                        padding: 10px;
                        width: 400px;
                        height: 100px;
                        border: 1px solid lightgrey;
                        border-radius: 5px;
                        margin-top: 5px;
                        font-family: "Montserrat", sans-serif;
                    }
                    #error-flash {
                        font-size: 0.8em;
                        color: red;
                    }
                    #success-flaash {
                        font-size: 0.8em;
                        color: #1DB954;
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------
// ------------------ REQUEST PAGE --------------------------------------
// ----------------------------------------------------------------------

#request-page-container {
    padding-top: 15vh;
    height: 85vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    #request-instructions {
        width: 350px;
        margin-right: 30px;
        p {
            font-weight: 700;
            font-size: 1.2em;
            padding-bottom: 20px;
            margin: 0;
        }
        span {
            font-size: 0.9em; 
        }
    }

    #request-form {
        span {
            font-size: 0.8em;
            font-weight: 500;
        }
        input {
            padding: 10px;
            width: 30vw;
            margin-bottom: 10px;
            font-family: 'Montserrat', 'sans-serif';
            border: 1px solid lightgrey;
        }
        button {
            padding: 10px;
            font-weight: 700;
            color: white;
            background-color: #1DB954;
        }
        #flash {
            font-size: 0.8em;
        }
    }
}

// ----------------------------------------------------------------------
// ------------------ PROFILE PAGE --------------------------------------
// ----------------------------------------------------------------------

#profile-page-container {
    padding-top: 15vh;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    #avatar-div {
        margin-right: 50px;
        img {
            width: 300px;
            height: 300px;
            border-radius: 100%;
            object-fit: cover;
        }
        input {
            padding: 10px;
            border: 1px solid lightgrey;
            cursor: pointer;
            margin-top: 10px;
            font-family: 'Montserrat', 'sans-serif';
        }
        button {
            color: white;
            background-color: #1DB954;
            padding: 10px;
            font-weight: 700;
            margin-top: 10px;
        }
    }
    #request-form {
        span {
            font-size: 0.8em;
            font-weight: 500;
        }
        input {
            padding: 10px;
            width: 30vw;
            margin-bottom: 10px;
            font-family: 'Montserrat', 'sans-serif';
            border: 1px solid lightgrey;
        }
        button {
            padding: 10px;
            font-weight: 700;
            color: white;
        }
        #approve-btn {
            background-color: #1DB954;
            margin-right: 20px;
        }
        #decline-btn {
            background-color: #a31010;
        }
        #flash {
            font-size: 0.8em;
        }
    }
}