@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-color: #2f88b1;

#root {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding: 0;
    margin: 0;
}

#root-content {
    padding-top: 8vh;
}


button {
    border: none;
    background-color: white;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

// ----------------------------------------------------------------------
// ------------------ TOP NAVIGATION ------------------------------------
// ----------------------------------------------------------------------

#top-navigation-bar {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: $main-color;
    position: fixed;
    width: 100vw;
    div {
        display: flex;
        flex-direction: row;
        margin-right: 2vw;
    }
    #home-btn { 
        margin: 0 20px;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        cursor: pointer;
    }
    button {
        font-size: 1.2em;
        margin: 0 10px;
        background-color: transparent;
        color: white;
        font-weight: 700;
    }
    #admin-btn {
        background-color: #1DB954;
        color: white;
        font-weight: 700;
    }
    #profile-btn {
        img {
            height: 60px;
            width: 60px;
            border-radius: 100%;
        }
    }
}

// ----------------------------------------------------------------------
// ------------------ LANDING PAGE --------------------------------------
// ----------------------------------------------------------------------

#landing-page-container {
    background-color: #f0f0f0;
    display: flex;
    padding-top: 8vh;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10vh;
    #banner-photo {
        width: auto;
        height: 92vh;
        object-fit: cover;
    }
    h1 {
        padding: 10px 0;
    }
    #join-btn {
        font-size: 1.5em;
        padding: 10px 20px;
        background-color: $main-color;
        color: white;
        font-weight: 700;
        border-radius: 5px;
        margin-top: 10vh;
    }
    .landing-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
        width: 60vw;
        margin-top: 10vh;
        div {
            margin: 20px;
        }
        p {
            line-height: 2;
        }
        img {
            height: auto;
            width: 40%;
            object-fit: cover;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
						0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        }
    }
    #landing-album-list {
        width: 60vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        p {
            font-weight: 600;
        }
        .landing-album-item {
            margin: 0 20px;
            display: flex;
            flex-direction: row;
            img {
                width: 500px;
                height: 500px;
                object-fit: cover;
            }
            text-align: center;
            p {
                font-weight: 700;
            }
            cursor: pointer;
            button {
                background-color: transparent;
                i {
                    font-size: 2em;
                    padding-bottom: 50px;
                    margin: 0 10px;
                    color: grey;
                }
            }
        }
    }
}

#upload-container {
    padding-top: 8vh;
}


// ----------------------------------------------------------------------
// ------------------ LOGIN PAGE ----------------------------------------
// ----------------------------------------------------------------------

#login-page-container {
    padding-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
    // background-color: #f0f0f0;
    img {
        width: 200px;
        height: 200px;
        margin-right: 20px;
    }
    input {
        padding: 10px 20px;
        font-size: 1em;
        width: 300px;
        // font-weight: 600;
        border: 1px solid lightgrey;
        border-radius: 2px;
        margin: 10px 0;
        &:focus {
            outline: none
        }
    }
    span {
        color: red;
        font-size: 0.9em;
    }
    button {
        font-size: 1em;
        font-weight: 700;
        // margin: 10px 0;
        border: none;
        padding: 10px 15px;
        background-color: #1DB954;
        color: white
    }
}

// ----------------------------------------------------------------------
// ------------------ ADMIN PAGE ----------------------------------------
// ----------------------------------------------------------------------

#admin-container {
    padding-top: 8vh;
}